dialog {
  position: fixed;
  padding: 0;
  width: 600px;
  max-width: 600px;
  border-radius: 6px;
  max-height: 80vh;
  border: 0;
  display: flex;
  flex-direction: column;
}

dialog > header,
dialog > footer {
  height: 60px;
}

dialog > section {
  max-height: calc(100% - 120px);
  height: calc(100% - 120px);
  overflow: auto;
}

dialog > section {
  margin: var(--default-block-margin);
}

dialog button:hover {
  cursor: pointer;
}

dialog header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

dialog ol {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

dialog ol li::marker {
  font-weight: bold;
}

dialog footer {
  display: flex;
  align-items: center;
  column-gap: 24px;
  justify-content: flex-end;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
